*{
    margin: 0;
    font-family : arial;
    border: border-box;
}

.navbar{
    height: 50px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.nav-logo{
    height: 45px;
    width: 130px;
}

/** box 2**/

.add-first{
    color:#cccccc;
    font-size: 0.7rem;
    margin-left: 15px;
}

.add-second{
    color: #ffffff;
    font-size: 0.85rem;
    margin-left: 3px;
    font-weight: 600;
}

.add-icon{
    display: flex;

}

/** Bx 3**/
.nav-search{
    display: flex;
    /* background-color: pink; */
    width: 550px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
    border: 2px solid transparent;
}

.nav-search:hover{
    border: 2px solid orange;
}

.ser-first{
    width: 39px;
   background-color: #E6E6E6;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   border: none;
}

.ser-second{
   width: 100%;
   border: none;
}

.ser-icon{
    height: 40px;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.5rem;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.nav-language{
    height: 40px;
    width: 40px;
    display: flex;
    border: 1.5px solid transparent;
}

.language{
    background-color: #0f1111;
    color: white;
}

/**BOx 4**/

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 600;
}

/** Box 5**/
.cart{
    display: flex;
    align-items: flex-end;
}

.cart-first{
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: 5px;
}

.cart i{
    font-size: 1.5rem;
}

/** NAVBAR SECOND **/

.navbar-second{
    height: 35px;
    color: #ffffff;
    font-size: 0.9rem;
    background-color: #222f3d ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-menu{
    align-items: center;
    padding-left: 10px;
    width: 50px;
}


.nav-options{
    width: 95%;
    display: flex;

}

.nav-options div{
    margin-right: 15px;
}


/**HERO SECTION*/

.hero-section{
    height: 300px;
    background-image: url(Images/hero_img.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg{
    height: 40px;
    width: 95%;
    font-size: 0.85rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
}


/** Shoping Section**/
.shoping-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #181b36;
}

.box{
    height: 350px;
    width: 23%;
    background-color: white;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}


.box-image{
    height: 260px;
    margin-top: 1rem;
    margin-bottom: 1rem; 
    background-size: cover;   
}

.box-content{
    margin-left: 15px;
    margin-right: 15px;
}

.box-content p{
    color: #007185;
    font-size: 0.8rem;
}

/** FOOTER **/

.foot-panal1{
    background-color: #181b36;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 0.85rem;
}

.foot-panal2{
    height: 350px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.foot-panal2 a{
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
}

.foot-panal2 p{
    font-weight: 600;
    margin-top: 50px;
}

.foot-panal3{
    height: 100px;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 45px;
    width: 130px;
    background-image: url(Images/Amazon-Logo.png);
    background-size: cover;
}

.foot-panal4{
    height: 80px;
    background-color: #0f1111;
    color: white;
    font-size: 0.8rem;
    padding-top: 40px;
}

.papers{
    display: flex;
    align-items: center;
    justify-content: center;

}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
